<!DOCTYPE html>
<html>
  <head>
    <title>Your Awesome Kitten App</title>
    <!-- Your head content -->
  </head>
  <body>
    <% flash.each do |type, message| %>
      <div class="flash <%= type %>">
        <%= message %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
